body {
   
    margin: 0;
    background-color: #f6f7f0;
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
}

.top{
    text-align: center;
    
}

.form-container {
    width: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    gap: 20px; 
    align-items: center; 
    margin: 0 auto;
    padding-top: 50px;
}


.card{
    display: flex;
    flex-direction:row;
    gap: 20px; 
    align-items: center; 
    margin-top: 200px;
    background: white;

}

input, button {
    width: 100%;
    max-width: 180px;
    margin: 5px 0;
}

nav {
    justify-content: center;
    align-items: center;
    display: flex;
    position: fixed;   
    top: 20px;      
    left: 15%;             
    transform: translateX(-50%);
    z-index: 1000;          
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}



.Daily-Section{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 20px;
    padding: 20px;
    margin-top: 50px;
    background: white;
    white-space: nowrap;
}

.Day {
    width: 250px;
    background: #74C69D;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex-shrink: 0; /* ensures it doesn't shrink in flex row */
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 100%;
    max-width: 210px;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    height: 30px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
}

button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #6CBDE9;
    color: white;
    height: 45px;
    cursor: pointer;
    transition: transform 0.3s ease;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

button:hover {
    transform: translateY(5px);
    background-color: #4caadc;
}
.event{
    background-color: #B7E4C7;
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
}
